html, body
{
    height:100%;
    width:100%;
}

body
{
    color:black;
    font-family:"Sans serif", "DejaVu Sans", "Tahoma", "Arial";
    margin:0px;
    padding:0px;
    background-color:#333333;
}

div#head
{
    margin:0 40px;
    height:100px;
}

div#menu
{
    float:left;
    position:relative;
    border-bottom:black;
    border-bottom-width:5px;
    border-bottom-style:solid;
    padding:0px;
    width:100%;
}

div#menu ul, div#menu ul li
{
    list-style:none;
    background-color:#444477;
    padding:0px;
}

div#menu ul li
{
    display:block;
    float:left;
}

div#menu ul li a
{
    display:block;
    padding:20px;
    background-color:transparent;
}

div#menu ul li a, div#menu ul li a:hover, div#menu ul li a:active, div#menu ul li a:visited
{
    color:white;
    text-decoration:none;
}

div#menu ul li a:hover, div#menu ul li a:active
{
    padding-top:18px;
    border-top-width:2px;
    border-top-style:solid;
    border-top-color:orange;
    color:#FFFFFF;
}

div#menu ul li:hover
{
    background-color:#222255;
}

div#menu ul li#current a, 
div#menu ul li#current a:hover, div#menu ul li#current a:visited, div#menu ul li#current a:active
{
    border-top:none;
    padding:20px;
    background-color:black;
}

div#content
{
    background-color:white;
    margin:0px 40px;
    height:100%;
    padding:20px;
}
